body{
    text-align: center;
    justify-content: center;
}
section{
    display: flex;
    justify-content: center;
    
}

.btn{
    width: 200px;
    height: 200px;
    border: 10px solid black;
    margin: 2.5rem;
    border-radius: 20%;

}

.red{
    background-color: palevioletred;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.blue{
    background-color:blueviolet;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: brown;
}
